body,
html,
.wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
}
main {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  background-image: url("http://www.transparenttextures.com/patterns/bright-squares.png");
  bottom: 0;
  color: #8fbc8f;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
main h1,
main h2 {
  margin: 0;
}
main h1 span::selection,
main h2::selection {
  background-color: rgba(0,0,0,0.5);
  color: #f00;
}
main h1 {
  font-family: Dosis, sans-serif;
  font-size: 4rem;
}
main h1 span:nth-child(2) {
  color: #a52a2a;
  font-size: 5.5rem;
}
main h2 {
  font-family: 'Pinyon Script', serif;
  font-size: 3rem;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
main h2:hover {
  color: #a52a2a;
}
.loader {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: 500ms opacity;
  -moz-transition: 500ms opacity;
  -o-transition: 500ms opacity;
  -ms-transition: 500ms opacity;
  transition: 500ms opacity;
  z-index: 100;
}
.loader #crank {
  -webkit-animation: spin 2s infinite ease-in-out;
  -moz-animation: spin 2s infinite ease-in-out;
  -o-animation: spin 2s infinite ease-in-out;
  -ms-animation: spin 2s infinite ease-in-out;
  animation: spin 2s infinite ease-in-out;
  background: url("../img/crank.jpg") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 128px;
  width: 128px;
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.wrapper {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: -1;
}
.wrapper .cover {
  background: url("../img/bicycle.jpg") center no-repeat, #fff;
  height: inherit;
  position: relative;
  -webkit-transition: 500ms opacity;
  -moz-transition: 500ms opacity;
  -o-transition: 500ms opacity;
  -ms-transition: 500ms opacity;
  transition: 500ms opacity;
  width: inherit;
  z-index: 5;
}
@media screen and (max-width: 800px) {
  .wrapper .cover {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}
.wrapper .video {
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  width: 1280px;
  height: 720px;
}
.wrapper #player {
  height: inherit;
  width: inherit;
}
