@import 'nib'
//Variables
blanco_transparente = rgba(255,255,255,0.85)
delay = 300ms
gris = rgb(213,213,213)
gris_claro = rgb(240,240,240)
medida = 50px //tamaño del botón de menú
negro_transparente = rgba(0,0,0,0.65)
verde_oscuro = rgb(177,234,177) //darkseagreen lighten
//Magic begins.
*
  -webkit-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  transition opacity delay, color delay - 100ms
  &::selection
    background-color negro_transparente
    color red
body, html, .wrapper
  font-family Dosis, sans-serif
  font-size 16px
  height 100vh
  padding 0
h1
  font-size 4rem
h1,h2
  margin 0
h2
  font-size 3rem
p
  font-size 1.75rem
main
  height 100vh
  overflow hidden
  position relative
  width 100vw
nav
  position fixed
  left 50%
  transform translate(-50%, 0)
  z-index 95
  ul
    list-style-type none
    margin 0
    padding 0
    li
      display inline-block
      a
        color aliceblue
        display block
        text-align center
        &:hover
          color moccasin
        i
          height medida
          line-height medida !important
          margin 0 .25em
          width medida
.blogNav
  #blog
    color moccasin
.infoNav
  #info
    color moccasin
.videosNav
  #videos
    color moccasin
.welcomeNav
  display none
span.highlighted
  line-height 1rem
span.logoText
  text-shadow:
    0 5px 5px rgba(255,255,250,0.5),
    0 3px 3px rgba(255,255,250,0.7),
    0 1px 1px rgba(255,255,250,0.9)
.highlighted
  color darkorange
  font-size 1.75em
  text-shadow none
.loader
  align-items center
  background white
  bottom 0
  display flex
  justify-content center
  left 0
  position fixed
  right 0
  top 0
  z-index 100
  #crank
    animation spin 2s infinite ease-in-out
    background url(../img/crank.png) center no-repeat
    background-size cover
    height 128px
    width 128px
.view
  align-items center
  bottom 0
  color darkseagreen
  display flex
  //Stupid IE
  height 100vh
  justify-content center
  left 0
  min-height 100vh
  right 0
  text-align center
  top 0
  #welcome
    max-width 100%
    figure
      color darkorange
      margin 0
      svg
        fill currentColor
    a
      color darkseagreen
      text-decoration none
      h2
        font-family 'Pinyon Script', serif
        &:hover
          color darkorange
  &.infoPage
    display block
    overflow auto
    h2
      line-height 1em
    .infoSection
      align-items center
      display flex
      //Really stupid IE
      height 100vh
      justify-content center
      min-height 100vh
      position relative
      .container
        .goDown
          animation beatButton 1.5s ease-in-out .3s infinite
          bottom 0
          color aliceblue
          left 50%
          position absolute
          transform translate(-50%, 0)
      &#hardware
        h2,p
          text-align left
        h2
          font-size 1.5rem
        p
          font-size 1rem
        .container
          background blanco_transparente
          border-radius .5em
          padding 1em 3em
.wrapper
  overflow hidden
  position fixed
  width 100vw
  z-index -5
  .cover, .video, .window
    height inherit
    left 0
    position absolute
    top 0
    width inherit
  .cover
    background url(../img/bicycle.jpg) center no-repeat, white
    z-index -15
    @media screen and (max-height: 480px)
      background-size contain
    @media screen and (max-width: 800px)
      background-size contain
  .video
    left 50%
    top 50%
    transform translate(-50%, -50%)
    z-index -20
    #player
      height inherit
      width inherit
  .window
    background-color negro_transparente
    background-image url(../img/bright-squares.png)
    z-index -10
//Animations
@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
@keyframes beat
  0%
    color currentColor
  40%
    color currentColor
  65%
    color darkorange
  85%
    color currentColor
  100%
    color currentColor
@keyframes beatButton
  0%
    color aliceblue
  50%
    color moccasin
  100%
    color aliceblue
//ngAnimate classes
.view.ng-enter,
.view.ng-leave
  opacity 1
.view.ng-enter.ng-enter-active,
.view.ng-leave.ng-leave-active
  opacity 0
