@import 'nib'
//Variables
blanco_transparente = rgba(255,255,255,0.85)
delay = 300ms
gris = rgb(213,213,213)
gris_claro = rgb(240,240,240)
medida = 50px //tamaño del botón de menú
negro_transparente = rgba(0,0,0,0.15)
secondColor = orange
texto = white
loaderSize = 64px
//Magic begins.
*
  -webkit-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  transition opacity delay, color delay - 100ms
  &::selection
    background-color negro_transparente
    color red
a
  color texto
  text-decoration none
body, html, .wrapper
  color texto
  font-family Dosis, sans-serif
  font-size 16px
  height 100vh
  padding 0
h1
  font-size 4rem
h1,h2
  margin .5em 0
h2
  font-size 3rem
  text-shadow:
  0 7px 7px rgba(0.0.0.0.7)
hr
  background-image linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0))
  border 0
  height .125em
  margin-bottom 1em
  margin-top 1em
  width 80%
p
  font-size 1.75rem
main
  height 100vh
  overflow hidden
  position relative
  width 100vw
nav
  position fixed
  left 50%
  transform translate(-50%, 0)
  z-index 95
  ul
    list-style-type none
    margin 0
    padding 0
    li
      display inline-block
      a
        color aliceblue
        display block
        text-align center
        &:hover
          color moccasin
        i
          height medida
          line-height medida !important
          margin 0 .25em
          width medida
.blogNav
  #blog
    color moccasin
.infoNav
  #info
    color moccasin
.videosNav
  #videos
    color moccasin
.welcomeNav
  display none
span.highlighted
  line-height 1rem
span.logoText
  text-shadow:
    0 11px 2px rgba(0,0,0,0.1),
    0 9px 2px rgba(0,0,0,0.3),
    0 5px 2px rgba(0,0,0,0.5),
    0 3px 2px rgba(0,0,0,0.7),
    0 1px 2px rgba(0,0,0,0.9)
.highlighted
  color secondColor
  font-size 1.75em
  text-shadow none
.loader
  align-items center
  background black
  bottom 0
  display flex
  justify-content center
  left 0
  position fixed
  right 0
  top 0
  z-index 100
  #crank
    animation spin 2s infinite ease-in-out
    background url(../img/crank.png) center no-repeat
    background-size cover
    height loaderSize
    width loaderSize
.view
  align-items center
  bottom 0
  display flex
  //Stupid IE
  height 100vh
  justify-content center
  left 0
  min-height 100vh
  right 0
  text-align center
  top 0
  #welcome
    max-width 100%
    figure
      svg
        background secondColor
        border-radius 50%
        color secondColor
        margin 0
        fill texto
        padding .5em
    a
      h2
        font-family 'Pinyon Script', serif
      &:hover
        h2
          color secondColor
  &.infoPage
    display block
    overflow auto
    h2
      line-height 1em
    .infoSection
      align-items center
      display flex
      //Really stupid IE
      height 100vh
      justify-content center
      min-height 100vh
      position relative
      .container
        .goDown
          animation beatButton 1.5s ease-in-out .3s infinite
          bottom 0
          color aliceblue
          left 50%
          position absolute
          transform translate(-50%, 0)
      &#hardware
        h2,p
          text-align left
        h2
          font-size 1.5rem
        p
          font-size 1rem
        .container
          background blanco_transparente
          border-radius .5em
          padding 1em 3em
.wrapper
  overflow hidden
  position fixed
  width 100vw
  z-index -5
  .cover, .video, .window
    height inherit
    left 0
    position absolute
    top 0
    width inherit
  .cover
    background url(../img/background.jpg) center no-repeat
    background-size cover
    z-index -15
  .video
    left 50%
    top 50%
    transform translate(-50%, -50%)
    z-index -20
    #player
      height inherit
      width inherit
  .window
    background-color negro_transparente
    background-image url(../img/grid.png)
    z-index -10
//Animations
@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
@keyframes beat
  0%
    color currentColor
  40%
    color currentColor
  65%
    color secondColor
  85%
    color currentColor
  100%
    color currentColor
@keyframes beatButton
  0%
    color aliceblue
  50%
    color moccasin
  100%
    color aliceblue
//ngAnimate classes
.view.ng-enter,
.view.ng-leave
  opacity 1
.view.ng-enter.ng-enter-active,
.view.ng-leave.ng-leave-active
  opacity 0
