@import 'nib'

gris = rgb(213,213,213)
gris_claro = rgb(240,240,240)
negro_transparente = rgba(0,0,0,0.5)

body, html, .wrapper
  height 100vh
  margin 0
  padding 0

main
  align-items center
  background-color negro_transparente
  background-image url(http://www.transparenttextures.com/patterns/bright-squares.png)
  bottom 0
  color darkseagreen
  display flex
  justify-content center
  left 0
  position absolute
  right 0
  text-align center
  top 0
  h1, h2
    margin 0
  h1 span, h2
    &::selection
      background-color negro_transparente
      color red
  h1
    font-family Dosis, sans-serif
    font-size 4rem
    span
      &:nth-child(2)
        color brown
        font-size 5.5rem
  h2
    font-family 'Pinyon Script', serif
    font-size 3rem
    transition all 500ms
    &:hover
      color brown

.loader
  align-items center
  background white
  bottom 0
  display flex
  justify-content center
  left 0
  position fixed
  right 0
  top 0
  transition 500ms opacity
  z-index 100
  #crank
    animation spin 2s infinite ease-in-out
    background url(../img/crank.jpg) center no-repeat
    background-size cover
    @keyframes spin
      0%
        transform rotate(0deg)
      100%
        transform rotate(360deg)
    height 128px
    width 128px

.wrapper
  overflow hidden
  position fixed
  width 100vw
  z-index -1
  .cover
    background url(../img/bicycle.jpg) center no-repeat, white
    height inherit
    position relative
    transition 500ms opacity
    width inherit
    z-index 5
    @media screen and (max-width: 800px)
      background-size contain
  .video
    left 50%
    position absolute
    transform translate(-50%, -50%)
    top 50%
    width 1280px
    height 720px
  #player
    height inherit
    width inherit
