section#whatis.infoSection
  .container
    h2
      span ¿Qué es 
      span.logoText travelon
      span.highlighted .
      span.logoText bike
      span ?
    p La definición es sencilla, la ejecución lo interesante:
    p.highlighted Pedalear todo el DF y grabarlo.
    i.goDown.fa.fa-angle-double-down.fa-2x(data-0p='opacity:1;' data-95p='opacity:0;')
section#hardware.infoSection
  .container
    h2 ¿Cómo se hace posible?
    h3 Bicicleta:
    h4 Benotto
    p Cuadro tipo italiano.
    p Poste de manubrio.
    p Tazas de dirección.
    p Y pedales.
    h4 Sin marca
    p Crank
    p Asiento
