section#info
  h2
    span ¿Qué es 
    span.logoText travelon
    span.highlighted .
    span.logoText bike
    span ?
  p La definición es sencilla, la ejecución lo interesante:
  p.highlighted Pedalear todo el DF y grabarlo.
