section#info.animar
  h2
    span ¿Qué es 
    span.logoText travelon
    span.highlighted .
    span.logoText bike
    span ?
  p La premisa es simple:
  p.highlighted Pedalear todo el DF y tener un registro de ello.
