section#welcome
  a(href='#/info')
    h1#title
      span.logoText travelon
      span.highlighted .
      span.logoText bike
    hr
    h2#subtitle Ciudad de México
    figure#logo
      img(src='img/victoria_alada.svg' class='svg' alt='La Victoria Alada')
